@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway {
  font-family: "Raleway", sans-serif;
}
.arapey {
  font-family: "Arapey", sans-serif;
}

.bgNavBar {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bgMain {
  background-color: #ffffff;
}

.logoERC {
  height: 300px;
  width: 400px;
}
.logoERCfooter {
  height: 80px;
  width: 120px;
}

.logoERC:hover {
  transform: scale(1.02);
  transition: 300ms;
}

.lineaSeparadora {
  border-bottom: 1px solid #414141;
  padding-bottom: 32px;
}

.carousel {
  margin-top: 90px;
}

.img-carousel {
  height: auto;
  object-fit: cover;
}

.colorDescoordinado{
  background-color: #e8af60 !important;
}
.colorElCielo{
  background-color: #497e90 !important;
}
.colorPorLasNoches{
  background-color: #584dba !important;
}
.colorParaLlevar{
  background-color: #e1d0b6 !important;
}
.colorNuncaMeFui{
  background-color: #222433 !important;
}

@media (max-width: 768px) {
  .carousel-img {
    height: auto;
  }

  .carousel {
    margin-top: 70px;
  }
}
@media (max-width: 991px) {
  .carousel {
    margin-top: 70px;
  }
}
@media (max-width: 426px) {
  .logoERC {
    height: 100px;
    width: 200px;
  }
}
