@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

.raleway {
  font-family: "Raleway", sans-serif;
}
.arapey {
  font-family: "Arapey", sans-serif;
}

.bgNavBar {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bgMain {
  background-color: #ffffff;
}

.hero1 {
  background-image: url("../src//assets/Texturas\ y\ backgrounds/noche2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero2 {
  background-image: url("../src//assets/Texturas\ y\ backgrounds/textura1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero3 {
  background-image: url("../src//assets/Texturas\ y\ backgrounds/noche1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero4 {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../src/assets/Texturas y backgrounds/textura2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(1);
}
.hero5 {
  background-image: url("../src//assets/Texturas\ y\ backgrounds/textura3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero6 {
  background-image: url("../src//assets/Texturas\ y\ backgrounds/textura4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgInicio {
  width: 450px;
}

.logoERC {
  height: 300px;
  width: 400px;
}

.logoERCfooter {
  height: 80px;
  width: 120px;
}

.logoERC:hover {
  transform: scale(1.02);
  transition: 300ms;
}

.iconoRedSocial:hover {
  transform: scale(1.05);
  transition: 500ms;
}

.lineaSeparadora {
  border-bottom: 1px solid #414141;
  padding-bottom: 32px;
}

.carousel {
  padding-top: 89px;
  background-image: url("../src//assets/Texturas\ y\ backgrounds/noche2.jpg");
  background-size: cover;
}

.img-carousel {
  height: auto;
  object-fit: cover;
}

.colorERC {
  color: #f7a61d !important;
}

.colorDescoordinado {
  background-color: #e8af60 !important;
}
.colorElCielo {
  background-color: #497e90 !important;
}
.colorPorLasNoches {
  background-color: #584dba !important;
}
.colorParaLlevar {
  background-color: #e1d0b6 !important;
}
.colorNuncaMeFui {
  background-color: #22243300 !important;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.tituloPagina {
  margin-top: 130px;
  margin-bottom: 50px;
}
.tituloPagina2 {
  padding-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .carousel-img {
    height: auto;
  }

  .carousel {
    margin-top: 70px;
  }

  .imgInicio {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .carousel {
    margin-top: 70px;
  }

  .imgInicio {
    width: 350px;
  }
}
@media (max-width: 426px) {
  .logoERC {
    height: 100px;
    width: 200px;
  }

  .imgInicio {
    width: 250px;
  }
}
